
.calculator-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.display {
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 65px);
    grid-auto-rows: 30px;
    gap: 2px;
}
